/* .card {
    border: 10px;
    margin-top: 15px;
    width: 588px;
    height: 396px;
    background-color: #2b3139;
    display: flex;
} */
.container h1 {
  color: rgba(255, 255, 255, 0.87);
  font-family: "Mochiy Pop one";
  font-size: 64px;
} 
.container{
  font-family: "Mochiy Pop One";
  font-size: 20px;
  color: white;
}

